@page
@model ItCareerExam.WebApp.Pages.Users.CreateUserModel
@{
}

<h1>Create A New User</h1>

<form method="post">
	<input asp-for="UserEditModel.Id" type="hidden" />
	<div class="pb-2">
		<label asp-for="UserEditModel.Email">Email</label>
		<input asp-for="UserEditModel.Email" type="text" rows="2" placeholder="Email" required />
	</div>
	<div class="pb-2">
		<label asp-for="UserEditModel.FirstName">First Name</label>
		<input asp-for="UserEditModel.FirstName" type="text" placeholder="First Name" required />
	</div>
	<div class="pb-2">
		<label asp-for="UserEditModel.LastName">Last Name</label>
		<input asp-for="UserEditModel.LastName" type="text" placeholder="Last Name" required />
	</div>
	<input asp-for="UserEditModel.UserName" type="hidden" />
	<div class="pb-2">
		<label asp-for="UserEditModel.Password">Password</label>
		<input asp-for="UserEditModel.Password" type="text" rows="2" placeholder="Password" required />
	</div>

	<button type="submit" class="btn success" style="border-color:green; background-color:green; color:white">Create</button>
</form>

<a asp-page="./UsersIndex">Back</a>