@page
@model ItCareerExam.WebApp.Pages.Users.EditUserModel
@{
}

<h1>Edit User</h1>

<form method="post">
	<input asp-for="UserEditModel.Id" type="hidden" />
	<div class="pb-2">
		<label asp-for="UserEditModel.Email">Email</label>
		<input asp-for="UserEditModel.Email" type="text" placeholder="Email" required />
	</div>
	<div class="pb-2">
		<label asp-for="UserEditModel.FirstName">FirstName</label>
		<input asp-for="UserEditModel.FirstName" type="text" placeholder="First Name" required />
	</div>
	<div class="pb-2">
		<label asp-for="UserEditModel.LastName">Last Name</label>
		<input asp-for="UserEditModel.LastName" type="text" placeholder="Last Name" required />
	</div>
	<input asp-for="UserEditModel.UserName" type="hidden" />
	<input asp-for="UserEditModel.Password" type="hidden" />


	<button type="submit">Update</button>
</form>

<a asp-page="./UsersIndex">Back</a>