@page
@model ItCareerExam.WebApp.Pages.Users.UserDetailsModel
@{
}

<h1>User Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.UserEditModel.Email
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Model.UserEditModel.FirstName
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Model.UserEditModel.LastName
        </dd>
        <dt class="col-sm-2">
            UserName
        </dt>
        <dd class="col-sm-10">
            @Model.UserEditModel.UserName
        </dd>

    </dl>
</div>

<a asp-page="./UsersIndex">Back</a>