@page
@model ItCareerExam.WebApp.Pages.Reviews.ReviewMadeModel
@{
}

<div class="text-center">
	<h1>You just made a review for this restaurant.</h1>
	<a asp-page="./YourReviewsIndex">To Your Reviews</a>
	<br />
	<a asp-page="../Restaurants/RestaurantsIndex">Back To Restaurants</a>
</div>